/* proposal style sheet */

/* font for the page */
* {
    font-family: 'Montserrat', Arial, sans-serif;
}

section {
    margin: 30px 40px; 
}

h1, h2, header p {
    color: #534582; 
}

h1, header p {
    text-align: center;
}

a:hover {
    color: green;
}

a:visited {
    color: red;
}