* {
    font-family: 'DM Sans', sans-serif;
}

body {
    background-color: rgb(250, 238, 209);
}

/* to add extra room for scrolling*/
html {
    min-height: 50em;
}

/* header with image*/ 
#w-img {
    background: linear-gradient(rgba(71, 47, 17, 0.75), rgba(37, 24, 8, 0.75)), url("../img/BLM-header.jpg");  
    background-size: contain;
    font-size: 1.5em;
}

header h1, header h2, header #slogan {
    text-align: center;
    color: rgb(255, 246, 225);
}

header h1 {
    padding-top: 2.5em;
    margin-bottom: 0;
}

header h2 {
    padding-bottom: 3em;
    margin-top: 0;
}

.navbar {
    background-color: rgb(101, 69, 31);
    overflow: hidden;
}

.navbar a {
    float: left;
    color: rgb(250, 238, 209);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: rgb(200, 174, 125);
    color: rgb(71, 47, 17);
}

.navbar a.active {
    background-color: rgb(71, 47, 17);
    color: rgb(255, 255, 255);
}

#about {
    margin: 1em 5em;
}

#about div {
    max-width: 75%; /* space to add image to the side*/

}

#rsvp {
    border: solid 1px rgb(71, 47, 17);
    box-shadow: 0 0 5px rgb(71, 47, 17);
    padding: 1em 1em 0 1em;
    margin: 2em;
    max-width: 400px;
    background-color: rgb(255, 246, 225);
}

#rsvp #top {
    font-size: 1em;
    max-height: 2em;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;

}

#rsvp #confirm {
    margin: 1em 0 1em 0.5em;
    font-weight: normal;
    padding-bottom: 1em;
}

/* Might change to icon instead of x */
#rsvp #x {
    max-height: 2em;
    background-color: red;
    border: none;

}

#rsvp p {
    font-size: 1em;
    font-weight: bold;

}

#rsvp #input div {
    margin: 1em 0 1em 0.5em;
    display: flex;
    margin-bottom: 1em;
}

#rsvp #input label {
    display: flex;
    margin-right: .5em;
}

#rsvp input {
    min-width: 50%;
}

#rsvp #submit, #feedback #submit {
    margin: 0 0 1em .5em;
}

#feedback {
    padding: 1em 1.5em 1.5em 1.5em;
    margin: auto;
    margin-top: 2em;
    width: 50%;
    background-color: rgb(255, 246, 225);
}

#feedback div {
    margin: 1em 0 1em 0.5em;
    display: flex;
    margin-bottom: 1em;
}

#feedback label {
    display: flex;
    margin-right: .5em;
}

#feedback input, #feedback textarea {
    min-width: 50%;
}

h1 {
    color: rgb(34, 21, 5);
    /* font-size:  */
}

#slogan {
    color: rgb(34, 21, 5);
}

.map img {
    max-height: 100%;
    max-width: 100%;
}

/* gonna try to make it "zoom" */
.map img:hover {
}

/* consider nav for phones, how to show all links??
*/
@media (min-width: 598px) {
    #hamburger-menu i {
        display: none;
    }
}

@media (min-width: 768px) {
    html {
    }
    body {

    }
    footer {
    }
}

@media (min-width: 992px) {
    nav a {
        font-size: 1.5rem;
    }
    body {
    }
    h1 {
    }
    h2 {
    }
}

@media (min-width: 1200px) {
    body {
    }
}

#slogan {
    font-style: italic;
    font-size: .5em;
}

.search {
    text-align: center;
}

.protest-list {
    text-align: left;
}

footer {
    position: fixed;
    bottom: 0;
}
