* {
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
    color: rgb(34, 21, 5); 
}

body {
    background-color: rgb(250, 238, 209);
    margin: 0;
    padding: 0;
}

main {
    padding: 2em;
}

.search-bar input {
    width: 250px;
    height: 30px;
}

.search-bar button {
    width: 30px;
    height: 30px;
}

.container {
    padding: 2rem;
}

.blockquote {
    size: 0.5em;
}

.image-slide-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.image-slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 0.5rem;
}

.image-slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: rgb(200, 174, 125);
    opacity: 0.5;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

/* to add extra room for scrolling*/
html {
    min-height: 50em;
}

/* header with image*/ 
#w-img {
    background: linear-gradient(rgba(71, 47, 17, 0.75), rgba(37, 24, 8, 0.75)), url("../img/BLM-header.jpg");  
    background-size: contain;
    font-size: 1.5em;
}

header h1, header h2, header #slogan {
    text-align: center;
    color: rgb(255, 246, 225);
}

header h1 {
    padding-top: 2.5em;
    margin-bottom: 0;
}

header h2 {
    padding-bottom: 3em;
    margin-top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(101, 69, 31);
    color: rgb(250, 238, 209);
}

.protest-hub {
    font-size: 1.5rem;
    margin: .5rem;
    color: rgb(250, 238, 209);
}

.nav-links ul {
    margin: 0;
    padding: 0;
    display: none;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: rgb(250, 238, 209);
    padding: 1rem;
    display: block;
}

.nav-links li:hover a:hover {
    background-color: rgb(200, 174, 125);
    color: rgb(71, 47, 17);
}

.hamburger-menu {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.hamburger-menu .line {
    height: 3px;
    width: 100%;
    background-color: rgb(250, 238, 209);
    border-radius: 10px;

#about {
    margin: 1em 5em;
}

#about div {
    max-width: 75%; /* space to add image to the side*/

}

#rsvp {
    border: solid 1px rgb(71, 47, 17);
    box-shadow: 0 0 5px rgb(71, 47, 17);
    padding: 1em 1em 0 1em;
    margin: 2em;
    max-width: 400px;
    background-color: rgb(255, 246, 225);
}

#rsvp #top {
    font-size: 1em;
    max-height: 2em;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;

}

#rsvp #confirm {
    margin: 1em 0 1em 0.5em;
    font-weight: normal;
    padding-bottom: 1em;
}

/* Might change to icon instead of x */
#rsvp #x {
    max-height: 2em;
    background-color: red;
    border: none;

}

#rsvp p {
    font-size: 1em;
    font-weight: bold;

}

#rsvp #input div {
    margin: 1em 0 1em 0.5em;
    display: flex;
    margin-bottom: 1em;
}

#rsvp #input label {
    display: flex;
    margin-right: .5em;
}

#rsvp input {
    min-width: 50%;
}

#rsvp #submit, #feedback #submit {
    margin: 0 0 1em .5em;
}

#feedback {
    padding: 1em 1.5em 1.5em 1.5em;
    margin: auto;
    margin-top: 2em;
    width: 50%;
    background-color: rgb(255, 246, 225);
}

#feedback div {
    margin: 1em 0 1em 0.5em;
    display: flex;
    margin-bottom: 1em;
}

#feedback label {
    display: flex;
    margin-right: .5em;
}

#feedback input, #feedback textarea {
    min-width: 50%;
}

h1 {
    color: rgb(34, 21, 5);
    /* font-size:  */
}


.card-title {
    font-weight: bolder;
}

.map img {
    max-height: 100%;
    max-width: 100%;
}


/* consider nav for phones, how to show all links??
*/
@media (min-width: 598px) {

}

@media (min-width: 768px) {
    .nav-links ul {
        display: flex;
    }

    .hamburger-menu {
        display: none;
    }

    .search-bar input {
        width: 350px;
        height: 40px;
    }

    .search-bar button {
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 992px) {
    .search-bar input {
        width: 450px;
        height: 50px;
    }
    .search-bar button {
        width: 50px;
        height: 50px;
    }
}

@media (min-width: 1200px) {
    .search-bar input {
        width: 550px;
        height: 60px;
    }
    .search-bar button {
        width: 60px;
        height: 60px;
    }
}

#slogan {
    font-style: italic;
    font-weight: bolder;
    font-size: 1.25em;
}

.search {
    text-align: center;
}

.search-bar {
    padding: 0.5em;
}

.protest-list {
    text-align: left;
}

footer {
    position: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(101, 69, 31);
    color: rgb(250, 238, 209);
    text-align: left;
}
